body {
  font-family: 'Lato', sans-serif;
}

h3 {
  letter-spacing: 1px;
  line-height: 25px;
  margin: 0;
  color: #ffffff;
}

p {
  line-height: 25px;
  margin: 0;
  color: #ffffff;
}
#content {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  overflow:hidden;
}
.item {
  width: 100%;
  margin: 1%;
  overflow: hidden;
  position: relative;
margin-top: 5%;
}
.item img {
  max-width: 100%;
  display: block;
  transition: all 0.5s ease;
}


/*effect 2*/
.line{
  position:absolute;
  width: 0px;
  height: 0px;
  transition: all 0.5s ease;
  background: #ffffff;
}

/*effect 5*/
.text5 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 55%;
  opacity:0;
  transition: all 0.5s ease;
    cursor: pointer;
}
#e5bk{
  position:absolute;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  background:#000000;
  opacity:0;
  transition: all 0.5s ease;
}
.inside{
  position:absolute;
  top:68%;
  left:50%;
}
.e5:hover .text5{
  opacity:1;
  position: absolute;
  top: 42%;
}
.e5:hover #e5bk{
  opacity:0.6;
}

.e5:hover .line{
  position: absolute;
  top: 68%;
  left:30%;
  width:40%;
  height:1px;
}




@media(max-width:768px){

    
    
.text5 {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 55%;
  opacity:0;
  transition: all 0.5s ease;
    cursor: pointer;
    
}


.e5:hover .text5{
  opacity:1;
  position: absolute;
  top: 42%;
}
.e5:hover #e5bk{
  opacity:0.6;
}

.e5:hover .line{
  position: absolute;
  top: 78%;
  left:30%;
  width:40%;
  }

  .item {
  width: 100%;
  height: 70%;
  margin: 1%;
  overflow: hidden;
  position: relative;
margin-top: 5%;
}

  
  
h3 {
  letter-spacing: 1px;
  line-height: 28px;
  margin: 0;
    font-size: 16px;
 font-weight: bold;
  color: #ffffff;
}

p {
  line-height: 28px;
  margin: 0;
  font-size: 16px;
  color: #ffffff;
  
  
}

}
