@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans+Condensed:300');
body{
margin:0px;
padding:0px;
font-family: 'Montserrat', sans-serif;
/*font-family: 'Open Sans Condensed', sans-serif;*/
}
.navbar-custom{
    background: transparent;
}
.navbar-nav>li>a{
    color: #009b96;  
    font-weight: bold;
}
.navbar-nav>li>a:hover{
    color: #009b96!important;
    border-bottom: 1px solid #009b96;
    transition: 0.5s;
}
.navbar-nav li aactive{
    color: #009b96!important;
    border-bottom: 1px solid #009b96;
    transition: 0.5s;
}
.header{
    background-image: url('../images/wall_paper_1.jpg');    
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: -8px;
}
.header h1{
    text-align: center;
    padding-top: 500px;
    padding-bottom: 100px;
    color:#809b96;
    font-size: 5em;
}
.navbar-toggler {
background-color: #009b96;     
}
.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.about{
    background-color: #009b96;
    color: #fff;
}
.about > div{
    padding-top: 100px;
    padding-bottom: 100px;
}
.feature{
    border:1px solid #fff;
    padding: 30px 5px 30px  5px;
    text-align: center;
}
.feature>i{
    padding-bottom: 20px;
}
.how-we-help{
    padding-top: 100px;
}
.how-we-help>h5{
    color: #4c4c4c;
}
.how-we-help>h1{
    color: #009b96;
}
.boost-your-brand{
    background-image: url('../images/wall_paper_2.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
.overlay{
    background-color: rgba(0,0,0,0.7);
    padding: 80px 0px 80px 0px;
}
.boost-your-brand .overlay h1{
    font-size: 4em;
    color: #009b96;
}
.btn-order{
    border-radius:50px;
    background-color: transparent;
    border: 2px solid #009b96;
    color: #009b96;
    padding: 10px 50px 10px 50px;
}
.btn-order:hover{
    color: #fff;
    border:2px solid #fff;
    text-decoration: none;
}
.testimonial{
    background-color: #009b96;  
    color: #fff;
}
.testimonial .container{
    padding-bottom: 100px;
    padding-top: 100px;
}
.carousel{
    padding: 20px 0px 80px 0px;
}

footer{
    background-color: #009b96;
    color: #fff;
    padding-top:2rem; 
}
hr.light{
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
footer a{
    color: #d5d5d5;
}
hr.light-100{
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
section#contact {
    background-color: #222222;
    background-image: url('../images/wall_paper_3.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: white;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
.gellary_bg_none img{
    width: 100%;
    height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact :-ms-input-placeholder {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #eeeeee;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'FontAwesome';
    content: "\f141";
    font-size: 20px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #ffffff;
}
#contact input,textarea{
    background: transparent!important;
    color: #fff!important;
}
.social  a{
    font-size: 4.5em;
    padding: 3rem;   
}
.fa-facebook{
    color: #3b5998;
}
.fa-twitter{
    color:#00aced;
}
.fa-google-plus-g{
    color: #dd4b39;
}
.fa-instagram{
    color:#517fa4;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
    color: #d5d5d5;
}
@media(max-width:992px){
    .social a{
        font-size: 4em;
        padding: 2rem;
    }
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: transparent!important;
/*    background: #ffffff;*/
    
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 100%;
    height: 100%;    
}
.navbar-toggler-icon{
    color: #000;
}
.parallax h1{
    color: #009b96;
    text-shadow: 2px 2px 3px rgba(0,0,0,1);
    
}
.about h5{
    color: #fff;
}
.about .card-text{
    color: #000;
}
#help h1,h2{
    color: #009b96;
}
.parallax h2{
    color: #fff;
}
.about_our_company{
    margin-bottom: 20px;
    text-align: center;
}
#contact h1, p{
    color: #fff;
}



@media(max-width:768px){

   .nav-item{
        text-align: center !important;
    }
 
.header{
    background-image: url('../images/wall_paper_1.jpg');    
    background-size: 100% 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: -60px;
    
}
.parallax h1{
    color: #009b96;
    text-shadow: 2px 2px 3px rgba(0,0,0,1);
    margin-top: -150px;
}

}